<div class="container">
  <div class="header">
    <div class="logo-section">
      <img class="brand_logo"
        src="https://res.cloudinary.com/varun-cloud/image/upload/v1557672264/angular7-live-stocks/brand_logo.png">
      <div>Live Stocks App</div>
    </div>
  </div>
  <div class="content">
    <div class="row-container" *ngFor="let item of stocksMap | keyvalue">
      <div class="name">{{item.key  | uppercase }}</div>
      <div class="price">
        <img *ngIf="item.value.diff < 0" class="arrow-icon" [src]="downArrow">
        <img *ngIf="item.value.diff > 0" class="arrow-icon" [src]="upArrow">
        {{item.value.price | currency:'INR' }}
      </div>
      <div class="updated_time">{{item.value.updatedAt | time }}</div>
    </div>
  </div>
</div>